* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --harmony-color: rgb(252, 216, 203);
  --primary-button: #c599b6;
  --black-main: black;
  --white-main: white;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif, cursive;
  font-size: 1.6rem;
}

.header-section {
  margin: 0;
  padding: 0;
  background-color: var(--harmony-color);
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.app-title {
  text-align: center;
  text-transform: capitalize;
  color:var(--black-main);
  font-size: 2rem;
  font-weight: 600;
}

.cats-app {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}
.facts-wrapper,
.photo-wrapper {
  display: block;
  width: fit-content;
}
.for-facts,
.for-photos {
  font-weight: bold;
  font-size: 1.4rem;
  display: inline;
  word-spacing: 2px;
  text-transform: capitalize;
}
.get-facts,
.get-photos {
  font-weight: 50;
  font-size: 1.3rem;
  border-radius: 3px;
  border: none;
  padding: 1rem 2rem;
  color:var(--black-main);
  outline: none;
}
.get-facts::placeholder {
  color: var(--primary-button);
  font-style: italic;
  font-size: 1.1rem;
  opacity: 0.5;
}
.get-photos::placeholder {
  color: var(--primary-button);
  font-style: italic;
  font-size: 1.1rem;
  opacity: 0.5;
}
.submit-facts-btn,
.submit-btn {
  font-weight: 700;
  font-size: 1.3rem;
  background-color: var(--primary-button);
  color:var(--white-main);
  border-radius: 3px;
  border: none;
  padding: 1rem 2rem;
  opacity: 0.8;
}
.facts-form,
.photo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 10px;
}
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .facts-wrapper,
  .photo-wrapper {
    width: 100%;
  }
  .facts-form,
  .photo-form {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .cats-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header-section {
    height: 85vh;
  }
  .loading {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}